<h1>Student List from the Blockchain</h1>
{% if btstudents%}
    <ul>
        <table border="1">
            <thead>
                <tr>
                    <th>name</th>
                    <th>roll</th>
                    <th>dept</th>
                    <th>added date</th>
                </tr>
            </thead>
            <tbody>
                {% for btstudent in btstudents %}
                <tr>
                    <td>{{btstudent.name}}</td>
                    <td>{{btstudent.roll}}</td>
                    <td>{{btstudent.dept}}</td>
                    <td>{{btstudent.added_date}}</td>

                </tr>
                {% endfor %}
                
            </tbody>

        </table>
        
        
    </ul>
{% else %}  <p>No students found</p> {% endif %}
